@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), 
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype'),
       url('../fonts/iconfont.svg') format('svg'),
       url('../fonts/iconfont.woff2') format('woff2');
}

[class^="iconfont"], [class*=" iconfont"] {
  font-family: "iconfont";
  font-style: normal
}

.icon-huojianxianxing::before {
  content: "\e614";
}

.icon-shouye::before {
  content: "\e612";
}

.icon-shopshoppingco::before {
  content: "\e630";
}

.icon-wode::before {
  content: "\e624";
}

.icon-yixianshi::before {
  content: "\e613";
}

